* @Zzackllack

# Design of the FancyMenu GUI
modpack/config/fancymenu @Tayotoshii @Zzackllack

# Helped with researching and adding new mods
modpack/mods @Tayotoshii @Zzackllack

# Code owner for the custom JingleJoin mod
custommods/JingleJoin/ @nikolas-bott
