# Exclude exported CurseForge zip files
*.zip

# Exclude exported Modrinth modpacks
*.mrpack

.DS_Store

/server
/.pnpm-store

# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# IntelliJ IDEA
.idea/
*.iml
out/
*.ipr
*.iws

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

run/
!modpack/config/paxi/datapacks/WinterLock.zip
