// jm.config.file_header_1
// jm.config.file_header_2
// jm.config.file_header_5
{
  "enabled": "true",
  "showDayNight": "true",
  "minimapLockedMapType": "jm.common.map_type.auto",
  "caveLayer": "4",
  "info1Label": "jm.theme.labelsource.blank",
  "info1LabelPosition": "Top",
  "info2Label": "jm.theme.labelsource.blank",
  "info2LabelPosition": "Top",
  "info3Label": "jm.theme.labelsource.blank",
  "info3LabelPosition": "Bottom",
  "info4Label": "jm.theme.labelsource.blank",
  "info4LabelPosition": "Bottom",
  "infoSlotAlpha": "0.7",
  "infoSlotFontScale": "1.0",
  "infoSlotTimeFormat": "HH:mm:ss",
  "systemTimeRealFormat": "HH:mm:ss",
  "reticleOrientation": "PlayerHeading",
  "shape": "Square",
  "sizePercent": "25",
  "frameAlpha": "35",
  "terrainAlpha": "100",
  "backgroundAlpha": "0.79",
  "orientation": "PlayerHeading",
  "compassFontScale": "1.0",
  "showCompass": "false",
  "showReticle": "false",
  "positionX": "0.005566406",
  "positionY": "0.009315279",
  "moveEffectIcons": "true",
  "hideEffectIcons": "false",
  "effectTranslateX": "-6",
  "effectTranslateY": "3",
  "effectVertical": "true",
  "effectReversed": "false",
  "minimapKeyMovementSpeed": "0.001",
  "position": "Custom",
  "active": true,
  "propertiesId": 1,
  "playerDisplay": "OutlinedIcons",
  "selfDisplayScale": "1.0",
  "playerDisplayScale": "1.0",
  "showPlayerHeading": "false",
  "mobDisplay": "DotsAndOutlinedIcons",
  "mobDisplayScale": "1.0",
  "showMobHeading": "false",
  "showMobs": "false",
  "showAnimals": "false",
  "showAmbientCreatures": "false",
  "showVillagers": "false",
  "showPets": "false",
  "showPlayers": "false",
  "fontScale": "1.0",
  "showWaypointLabels": "true",
  "waypointLabelScale": "1.0",
  "waypointIconScale": "1.0",
  "locationFormatVerbose": "false",
  "locationFormat": "xzyv",
  "showOffScreenPlayers": "false",
  "showWaypoints": "true",
  "showSelf": "true",
  "showGrid": "false",
  "showCaves": "true",
  "showPlayerNames": "false",
  "showTeamNames": "false",
  "showEntityNames": "false",
  "showHostileNames": "false",
  "showPassiveNames": "false",
  "showAmbientNames": "false",
  "showPetNames": "false",
  "showNpcNames": "false",
  "showVillagerNames": "false",
  "showNoIconNames": "true",
  "preferredMapType": "night",
  "zoomLevel": "512",
  "configVersion": "6.0.0-beta.52"
}